

/*section Fonctionnement*/
.stepBlock:hover{
    background-color:$primaireTransparent;
    & i{
        color:$primaire;
    }
}
/*page restaurant*/
.btn{
    &:hover{
    transform:opacity(1);
    animation-name: clrBright;
    animation-duration:1000ms;  
    }
}
@keyframes clrBright{
    from{
        opacity:1;
    }
    to{
        opacity:0.5;
    }

}
/*Case à cocher*/
.check{
    width:0;
    text-align:center;
    background-color:$tertiaire;
    padding:35px 0 35px 0;
    color:$blanc;
    border-radius:0 15px 15px 0;
    overflow:hidden;
    transition:width 500ms linear;

    & i{
        transition: transform 500ms;
    }
}
.carte:hover{
    .check{
            width:25%;
        & > i{
            transform:rotate(360deg);
        }
    }

}
/*remplissage du coeur*/
.menuHeart{
    & .far{
    opacity:1;
    transition:opacity 2000ms;
    }
    & .fas{
        opacity:0;
        transition:opacity 2000ms;
        }
    &:hover{
        & .far{
            opacity:0;
        }
        & .fas{
            opacity:1;
        }
    }
}
/*apparition des menus*/
.menus{
    & .menu:nth-child(1){
        opacity:1;
        animation:affichageMenu 2000ms ease-in-out;
    }
    & .menu:nth-child(2){
        opacity:1;
        animation:affichageMenu 2000ms ease-in-out;
        animation-delay:400ms;
    }
    & .menu:nth-child(3){
        opacity:1;
        animation:affichageMenu 2000ms ease-in-out;
        animation-delay:800ms;
    }
    
}
@keyframes affichageMenu{
    0%{
        opacity:1;
        transform:translate(-5%,10%);

}
    30%{
        opacity:1;
        transform:translate(0%,0%);

}
}
/*loading spinner*/
.load{
    &__spinner{
        opacity:0;
        height:100vh;
        width:100%;
        position:fixed;
        text-align:center;
        vertical-align:middle;
        animation:loadSpinner 5000ms; 
        animation-delay:5ms;
        & i {    
            opacity:1;
            position:absolute;
            color:red;
            top:50vh;   
        }
        & i:nth-child(0){
            animation:Spinner1 1667ms;
            animation-delay:10ms;
        }
        & i:nth-child(0){
            animation:Spinner2 1667ms;
            animation-delay: 1667ms;
        }
        & i:nth-child(0){
            animation:Spinner3 1667ms;
            animation-delay:3333ms;
        }
    }
}

@keyframes loadSpinner{
    from{
        opacity:0.5;    
        }
    to{
        opacity:0
    }   
}
@keyframes Spinner1{
    0%{
        opacity:1;
        transform:rotate(360deg);
    }
    99%,100%{
        opacity:0
    }
}
@keyframes Spinner2{
    0%{
        opacity:1;
        transform:rotate(360deg);
    }
    99%,100%{
        opacity:0
    }
}
@keyframes Spinner3{
    0%{
        opacity:1;
        transform:rotate(360deg);
    }
    99%,100%{
        opacity:0
    }
}
