

/*section Fonctionnement*/
.stepBlock:hover{
    background-color:$primaireTransparent;
    & i{
        color:$primaire;
    }
}
/*page restaurant*/    
.btn{
    background:$clr-btn;
    color:$blanc;
    padding:10px;
    margin:auto;
    border:none;
    width:180px;
    height:50px;
    border-radius:25px;
    box-shadow:3px 3px 3px #ccc;
    transition:transform 500ms;
    &:hover{
        cursor:pointer;
        animation:testBtn  500ms linear;
        animation-fill-mode:forwards;
        transform:scale(1.08);
            }
    }
    @keyframes testBtn{
        from{
            background:$btnHover;
            box-shadow:5px 5px 5px #aaa;

        }
        to{
            background:$btnHover;
            box-shadow:7px 7px 7px #aaa;
        }
    }



    
/*Case à cocher*/
.check{
    width:0;
    text-align:center;
    background-color:$tertiaire;
    padding:35px 0 35px 0;
    color:$blanc;
    border-radius:0 15px 15px 0;
    overflow:hidden;
    transition:width 500ms linear;

    & i{
        transition: transform 500ms;
    }
}
.carte:hover{
    .check{
            width:25%;
        & > i{
            transform:rotate(360deg);
        }
    }

}
/*remplissage du coeur*/
.menuHeart{
    & .far{
    opacity:1;
    transition:opacity 2000ms;
    }
    & .fas{
        opacity:0;
        transition:opacity 2000ms;
        }
    &:hover{
        & .far{
            opacity:0;
        }
        & .fas{
            opacity:1;
        }
    }
}
/*apparition des menus*/
.menus{
    & .menu:nth-child(1){
        opacity:1;
        animation:affichageMenu 2000ms cubic-bezier(0.66,.01,0,1);
        animation-fill-mode: forwards;
    }
    & .menu:nth-child(2){
        opacity:1;
        animation:affichageMenu 2000ms cubic-bezier(0.66,.01,0,1);
        animation-delay:150ms;
    }
    & .menu:nth-child(3){
        opacity:1;
        animation:affichageMenu 2000ms cubic-bezier(0.66,.01,0,1);
        animation-delay:290ms;
    }
    
}
@keyframes affichageMenu{
    0%{
        opacity:1;
        transform:translate(-3%,5%);

}
    30%{
        opacity:1;
        transform:translate(0%,0%);

}
}
/*loading spinner*/
.load{         
        opacity:0;
        position:fixed; 
        height:100%;
        width:100%;
        left:0;
        text-align:center;    
        vertical-align:middle;    
        z-index:-1;
        animation:loadSpinner 5500ms linear; 


        & i {    
            opacity:0;
            position:absolute;
            margin:auto;
            color:$primaire;
            z-index:1;
            top:50%;
        
        &:nth-child(1){
            animation:Spinner1 1011ms ease-in-out 0s 1 normal none;
            animation-delay:500ms;
        }
        &:nth-child(2){
            animation:Spinner2 1090ms ease-in-out 0s 1 normal none;
            animation-delay:1368ms;
        }
        &:nth-child(3){
            animation:Spinner3 1275ms ease-in-out 0s 1 normal none;
            animation-delay:2256ms;
            
        }
        &:nth-child(4){
            animation:Spinner4 1511ms ease-in-out 0s 1 normal none;
            animation-delay:3190ms;
            
        }
    }
}


@keyframes loadSpinner{
    from{
        opacity:1;    
        z-index:1;
        }
    to{
        opacity:0;
        z-index:-1;
    }   
}
@keyframes Spinner1{
    0%{
        opacity:1;
        transform:rotate(360deg);
        z-index:1;
    }
    99%,100%{
        opacity:0;
        z-index:-1;
    }
}
@keyframes Spinner2{
    0%{
        opacity:1;
        transform:rotate(360deg);
        z-index:1;
    }
   99%,100%{
        opacity:0;
        z-index:-1;
    }
}
@keyframes Spinner3{
    0%{
        opacity:1;
        transform:rotate(360deg);
        z-index:1;
    }
    99%,100%{
        opacity:0;
        z-index:-1;
    }
}
@keyframes Spinner4{
    0%{
        opacity:1;
        transform:rotate(360deg);
        z-index:1;
    }
    99%,100%{
        opacity:0;
        z-index:-1;
    }
}



  