.fonctionnement{
    background:$blanc;
}
.commandStep{
    display:flex;
    flex-direction:row;
    flex-wrap:nowrap;

    .step{
        border-radius:100%;
        background:$primaire;
        padding:8px 10px 0px 10px;
        margin:12px -8px 14px 0;
        height:25px;
        z-index: 5;
    }
}
.stepBlock{
    display:flex;
    flex-direction:row;
    flex-wrap:nowrap;
    align-items:center;
    justify-content:space-between;;
    margin:auto auto 20px -7px;
    padding: 3px 2px 2px 2px;
    height:50px;
    width:89%;
    background-color:#f8fafc;
    box-shadow:0 5px 5px #ddd;
    border-radius:15px;

        .icone{
        margin:0 0 0 20px;
        }
        .text{
            margin:auto;
        }
}

.commandStep__stepBlock:hover{
    background-color:$primaireTransparent;
}