footer{
    background:#000;
    color:$blanc;
    width:97%;
    padding-bottom:20px;
}

.footer__logo{
    @include logoPolice;
    color:$blanc;
    padding-top:26px;
    }

    footer p{
        margin-left:25px;
    }
    footer i{
        width:20px;
        margin-right:5px;
    }