footer{
    background:#000;
    color:#fff;
    width:97%;
    padding-bottom:20px;
}

.footer__logo{
    font: italic  bold 1.2em 'shrikhand';
    color:#fff;
    padding-top:26px;
    }

    footer p{
        margin-left:25px;
    }
    footer i{
        margin-right:5px;
    }