.heading{

    &__img{
        max-width:50%;
        text-align:center;
    }
}
.heading div{
    padding:10px 0;
    height:60px;
    text-align:center;
    position:relative;
}

.retour{
    position:absolute;
    left:15px;
    top:8px;
    color:$noir;
}