.heading{

    &__img{
        max-width:50%;
        text-align:center;
    }

}
.heading div{
    text-align:center;
    position:relative;
}

.retour{
    position:absolute;
    left:15px;
    top:8px;
    color:#000;
}