.navigation{
    display:flex;
    flex-direction:column;
    justify-content:space-around;;
    &__form{
        text-align:center;
        background-color:#cdcecf;
        padding:10px;
    }
    &__input{
        border:none;
        background-color:#cdcecf;
        margin-left:15px;;
    }
    &__description{
        display:flex;
        flex-direction:column;
        justify-content:flex-start;
        align-items:center;
        padding-bottom:20px;
        background-color:#e3e4e5;
        text-align:center;
    }
    &__explore{
        text-decoration: none;
        width:61%;
        background:linear-gradient(to bottom,$secondaire,#9356dc);
        color:$blanc;
        padding:15px 50px 15px 50px;
        margin:auto;
        border-radius:25px;
        
      
    }
    
}