.navigation{
    display:flex;
    flex-direction:column;
    justify-content:space-around;;
    &__form{
        text-align:center;
        background-color:#cdcecf;
        padding:10px;
    }
    &__input{
        border:none;
        border-radius:25px;
        background-color:#cdcecf;
        margin-left:15px;;
    }
    &__description{
        display:flex;
        flex-direction:column;
        justify-content:flex-start;
        align-items:center;
        padding-bottom:20px;
        background-color:#e3e4e5;
        text-align:center;

        & p{
            margin-left:10px;
        }
    }
    .btnExplore{
        @include btn;
    }
    
}