.restau{
    display:block;
    margin-bottom:20px;
    width:95%;
}
.detail{
    height:300px;
    width:100%;
    border-radius:15px;
    background:$blanc;
    border:1px $grisClair solid;
    @include boxShadow;
    .carte{
        min-height:80%;   
        border-radius:15px 15px 0 0;
        position:relative;
        .new{
            position:absolute;
            right:0;
            background:$tertiaire;
            margin:30px 30px 0 0;
            width:90px;
            height:26px;
            text-align:center;
            padding:7px 0 0 0;
            font-weight:bold;
            color:$vertFonce;

        }
    }

    .nom{
        display:flex;
        justify-content:space-between;
        max-height:20%;
        margin:5px 5px 0 5px;
        padding:0 0 0 0;
    }
    .identity{
        margin:5px 0 5px 0;
        color:#000;
    }
    .city{
        margin:0 0 0px 0;
        color:#000;
    }
    .heart{
        margin-top:10px;
        font-size:21px;
    }
}
.restau1{
    background-image: url("/images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
    background-size:cover;
}
.restau2{
    background-image: url("/images/restaurants/la_note_enchantee_resize.jpg");
    background-size:cover;
}
.restau3{
    background-image: url("/images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
    background-size:cover;
}

.restau4{
    background-image: url("/images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
    background-size:cover;
}