@mixin logoPolice{
    font: italic  bold 1.2em 'shrikhand';
}
@mixin textePolice{
     font-family:'roboto';
}
@mixin boxShadow{
    box-shadow:0 5px 5px #ddd;
}
h1, h2, h3, h5, h6{
    font-family:'Shrikhand';
    width:100%;
}
p, a{
    font-family:'Roboto';
}
a{
    text-decoration:none;
}