@charset "UTF-8";
h1, h2, h3, h5, h6 {
  font-family: "Shrikhand";
  width: 100%;
}

p, a {
  font-family: "Roboto";
}

a {
  text-decoration: none;
}

.heading__img {
  max-width: 50%;
  text-align: center;
}

.heading div {
  padding: 10px 0;
  height: 60px;
  text-align: center;
  position: relative;
}

.retour {
  position: absolute;
  left: 15px;
  top: 8px;
  color: #000;
}

.restaurants h2 {
  margin-left: 10px;
}

.restau {
  display: block;
  margin: 0 10px 20px 10px;
  width: 95%;
}

.detail {
  height: 300px;
  width: 100%;
  border-radius: 15px;
  background: #fff;
  border: 1px #f2f2f2 solid;
  box-shadow: 0 5px 5px #ddd;
}
.detail .carte {
  min-height: 80%;
  border-radius: 15px 15px 0 0;
  position: relative;
}
.detail .carte .new {
  position: absolute;
  right: 0;
  background: #99E2D0;
  margin: 30px 30px 0 0;
  width: 90px;
  height: 26px;
  text-align: center;
  padding: 7px 0 0 0;
  font-weight: bold;
  color: #10ab1d;
}
.detail .nom {
  display: flex;
  justify-content: space-between;
  max-height: 20%;
  margin: 5px 5px 0 5px;
  padding: 0 0 0 0;
}
.detail .identity {
  margin: 5px 0 5px 0;
  color: #000;
}
.detail .city {
  margin: 0 0 0px 0;
  color: #000;
}
.detail .heart {
  margin-top: 10px;
  font-size: 21px;
}

.restau1 {
  background-image: url("/images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
  background-size: cover;
}

.restau2 {
  background-image: url("/images/restaurants/la_note_enchantee_resize.jpg");
  background-size: cover;
}

.restau3 {
  background-image: url("/images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
  background-size: cover;
}

.restau4 {
  background-image: url("/images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
  background-size: cover;
}

.navigation {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.navigation__form {
  text-align: center;
  background-color: #cdcecf;
  padding: 10px;
}
.navigation__input {
  border: none;
  background-color: #cdcecf;
  margin-left: 15px;
}
.navigation__description {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 20px;
  background-color: #e3e4e5;
  text-align: center;
}
.navigation__description p {
  margin-left: 10px;
}
.navigation .btnExplore {
  background: linear-gradient(to bottom, #FF79DA, #9356dc);
  color: #fff;
  padding: 10px;
  margin: auto;
  border-radius: 25px;
}

.fonctionnement {
  background: #fff;
}
.fonctionnement h2 {
  margin-left: 10px;
}

.commandStep {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  margin: auto;
}
.commandStep .step {
  border-radius: 100%;
  background: #9356DC;
  padding: 8px 10px 0px 10px;
  margin: 12px -8px 14px 8px;
  height: 25px;
  z-index: 5;
}

.stepBlock {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  margin: auto auto 20px -7px;
  padding: 3px 2px 2px 2px;
  height: 50px;
  width: 89%;
  background-color: #f8fafc;
  box-shadow: 0 5px 5px #ddd;
  border-radius: 15px;
}
.stepBlock .icone {
  margin: 0 0 0 20px;
}
.stepBlock .text {
  margin: auto;
}

footer {
  background: #000;
  color: #fff;
  padding-bottom: 20px;
}

.footer__logo {
  font: italic bold 1.2em "shrikhand";
  color: #fff;
  padding-top: 26px;
}

footer p {
  margin-left: 25px;
}

footer i {
  width: 20px;
  margin-right: 5px;
}

.imageMenu {
  width: 100%;
  height: 350px;
  object-fit: cover;
}

.zoneMenu {
  position: relative;
  background-color: #f6f6f6;
  border-radius: 30px 30px 0 0;
  margin-top: -50px;
  padding: 20px;
}
.zoneMenu .nomResto {
  font-family: "Shrikhand", cursive;
  display: flex;
  justify-content: space-between;
}

.menuHeart {
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.menuHeart .far {
  position: absolute;
  opacity: 1;
}
.menuHeart .fas {
  opacity: 0;
}

.menu h4 {
  font-weight: 200;
}
.menu h4::after {
  display: block;
  content: "";
  height: 3px;
  width: 30px;
  background: #99E2D0;
}
.menu .carte {
  position: relative;
  background: #fff;
  border-radius: 15px;
  box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.1);
  margin: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu .carte .choix {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.menu .carte .choix div:nth-child(1) {
  margin-left: 10px;
}
.menu .carte .choix div:nth-child(1) p:nth-child(1) {
  font-weight: bold;
}
.menu .carte .choix div:nth-child(2) {
  align-self: flex-end;
  margin-right: 10px;
  font-weight: bold;
}

.commande {
  width: 100%;
  text-align: center;
}

.btnCommande {
  background: linear-gradient(to bottom, #FF79DA, #9356dc);
  color: #fff;
  padding: 10px;
  margin: auto;
  border-radius: 25px;
}

/*section Fonctionnement*/
.stepBlock:hover {
  background-color: #f2eafb;
}
.stepBlock:hover i {
  color: #9356DC;
}

/*page restaurant*/
.btn {
  transform: scale(1);
  transition: transform 400ms;
}
.btn:hover {
  transform: scale(1.2);
}

/*Case à cocher*/
.check {
  width: 0;
  text-align: center;
  background-color: #99E2D0;
  padding: 35px 0 35px 0;
  color: #fff;
  border-radius: 0 15px 15px 0;
  overflow: hidden;
  transition: width 500ms linear;
}
.check i {
  transition: transform 500ms;
}

.carte:hover .check {
  width: 25%;
}
.carte:hover .check + i {
  transform: rotate(90deg);
}

@media screen and (min-width: 640px) {
  /*Navigation*/
  .navigation__description {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .navigation__description div {
    width: 60%;
  }

  .navigation__explore {
    max-width: 15px;
  }

  /*Fonctionnement*/
  .fonctionnement {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: space-between;
    flex-wrap: wrap;
  }
  .fonctionnement h2 {
    width: 100%;
    text-align: center;
    margin: 30px;
  }

  .commandStep {
    max-width: 25%;
  }

  /*Restaurants*/
  .restaurants {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .restaurants h2 {
    width: 100%;
    text-align: center;
  }
  .restaurants .restau {
    max-width: 22%;
  }

  /*footer*/
  .footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .footer .footer__logo {
    width: 100%;
    text-align: center;
  }

  /*Menus*/
  .menus {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .menus .menu {
    min-width: 30%;
  }
}
body {
  margin: 0 auto;
  box-sizing: border-box;
}

/*# sourceMappingURL=style.css.map */
