@mixin logoPolice{
    font: italic  bold 1.2em 'shrikhand';
}
@mixin textePolice{
     font-family:'roboto';
}
@mixin boxShadow{
    box-shadow:0 5px 5px #ddd;
}
@mixin btn{
    background:linear-gradient(to bottom,$secondaire,#9356dc);
    color:$blanc;
    padding:10px;
    margin:auto;
    border:none;
    width:180px;
    height:50px;
    border-radius:25px;
    box-shadow:3px 3px 3px #ccc;
}