
    $primaire:#9356DC;
    $secondaire:#FF79DA;
    $tertiaire:#99E2D0;
    $noir:#000;
    $blanc:#fff;
    $grisClair:#f2f2f2;
    $vertFonce:#10ab1d;
    $primaireTransparent:lighten($primaire,35%);
    $clr-btn:linear-gradient(to bottom,$secondaire,#9356dc);
   

    
